<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div>
    <div>
      <input type="number" [(ngModel)]="parameter1" style="margin-left: 15px;"/>`

      <select [(ngModel)]="selectedType" class="padding-right">
        <option *ngFor="let operationType of operationTypes">
          {{operationType.symbol}}
        </option>
      </select>

      <input type="number" [(ngModel)]="parameter2" style="margin-left: 10px;"/>`

      <span> = </span>

      <input type="text" [(ngModel)]="result" />`
      <button (click)="calculate()"> Count </button>
    </div>
  </div>
</body>
